<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
    <f:render partial="Area/PageHeader" section="Default" arguments="{_all}" />
</f:section>
<f:section name="Main">
    <div id="page-content">
        <section class="blog-grid-section">
            <div class="container-fluid max-width-1250 no-padding">
                <div class="row no-margin">
                    <div class="col-lg-4 no-padding-lefts">
                        <f:cObject typoscriptObjectPath="lib.content.column_left" />
                    </div>
                    <div class="col-lg-8 no-padding-left no-padding-right">
                        <f:cObject typoscriptObjectPath="lib.content.main" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</f:section>
</html>