<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Home" />
<f:section name="Header">
    <section id="section-intro">
        <f:render partial="Area/Hero" section="Default" arguments="{_all}" />
    </section>
</f:section>
<f:section name="Main">

    <div id="page-content">

        <section class="welcome-section bg-dark text-white">
            <div class="container">
                <div class="row">
                    <div class="col-right col-lg-4">
                        <div class="col-inner">
                            <img src="/typo3conf/ext/trameindipendenti/Resources/Public/Images/logotypo-trameindipendenti.png">
                        </div>
                    </div>
                    <div class="col-left col-lg-8">
                        <div class="col-inner">
                            <div class="heading heading-xlg mt-5">
                                <h2 class="heading-title"><span class="bg-main text-white">Trame</span><span class="bg-white text-red">Indipendenti</span></h2>
                            </div>
                            <p class="lead"><f:cObject typoscriptObjectPath="lib.titles.hashtags" /></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.home.rules')}">
            <section class="team-section split-box no-padding">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-left col-xl-6 no-padding">
                            <div class="padding-height-70 bg-image" style="background-image: url('/typo3conf/ext/trameindipendenti/Resources/Public/Images/issalavela.jpg');"></div>
                        </div>
                        <div class="col-right col-xl-6 align-self-center no-padding">
                            <div class="col-inner">
                                <f:cObject typoscriptObjectPath="lib.content.home.rules" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </f:if>

        <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.finalisti')}">
            <f:render partial="Home/Finalists" section="Default" arguments="{_all}" />
        </f:if>

        <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.giuria')}">
            <f:render partial="Home/Jury" section="Default" arguments="{_all}" />
        </f:if>

        <section class="counter-up-section">
            <div class="container">
                <div class="row">
                    <div class="col count-1 col-12 col-md-6 col-lg-3">
                        <div class="counter-up-inner">
                            <div class="counter-icon"><i class="fas fa-film"></i></div>
                            <div class="counter">{settings.counters.movies}</div>
                            <hr class="hr-short hr-short-center">
                            <h4><f:cObject typoscriptObjectPath="lib.titles.home.counter.movies" /></h4>
                        </div>
                    </div>
                    <div class="col count-2 col-12 col-md-6 col-lg-3">
                        <div class="counter-up-inner">
                            <div class="counter-icon"><i class="fas fa-globe-africa"></i></div>
                            <div class="counter">{settings.counters.countries}</div>
                            <hr class="hr-short hr-short-center">
                            <h4><f:cObject typoscriptObjectPath="lib.titles.home.counter.countries" /></h4>
                        </div>
                    </div>
                    <div class="col count-3 col-12 col-md-6 col-lg-3">
                        <div class="counter-up-inner">
                            <div class="counter-icon"><i class="fas fa-trophy"></i></div>
                            <div class="counter">{settings.counters.prizes}</div>
                            <hr class="hr-short hr-short-center">
                            <h4><f:cObject typoscriptObjectPath="lib.titles.home.counter.prizes" /></h4>
                        </div>
                    </div>
                    <div class="col count-4 col-12 col-md-6 col-lg-3">
                        <div class="counter-up-inner">
                            <div class="counter-icon"><i class="fas fa-video"></i></div>
                            <div class="counter">{settings.counters.screenings}</div>
                            <hr class="hr-short hr-short-center">
                            <h4><f:cObject typoscriptObjectPath="lib.titles.home.counter.screenings" /></h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.albodoro')}">
            <f:render partial="Home/HallOfFame" section="Default" arguments="{_all}" />
        </f:if>

        <!-- testimonial  FARE TObject -->
        <section class="testimonial-section bg-dark text-white">
            <div class="container">

                <!-- Begin testimonial slider
                ============================== -->
                <div class="testimonial-slider text-center">

                    <!-- Begin content carousel (https://owlcarousel2.github.io/OwlCarousel2/)
                    ===========================================================================
                    * Use class "nav-hover" to show navigation on hover.
                    * Use class "nav-outside" to enable outside nav (requires boxed layout).
                    * Use class "nav-outside-top" to enable outside top nav (requires enough space at the top of the carousel).
                    * Use class "nav-bottom-right" to enable bottom right nav.
                    * Use class "nav-rounded" to enable rounded nav (no effect if "nav-minimal" is enabled).
                    * Use class "nav-light" to enable nav light style.
                    * Use class "nav-dark" to enable nav dark style.
                    * Use class "nav-minimal" to enable nav minimal style.
                    * Use class "dots-outside" to enable outside dots (requires enough space at the bottom of the carousel).
                    * Use class "dots-left", "dots-right" or "dots-center-right" to align dots.
                    * Use class "dots-rounded" to enable rounded dots.
                    * Use class "owl-mousewheel" to enable mousewheel support.
                    * Use class "cursor-grab" to enable cursor grab icon (no effect on links!).
                    * Use class "cc-hover-zoom" to enable carousel items hover zoom effect (for "cc-image" only!).
                    * Use class "owl-size-1" ... up to "owl-size-20" to set carousel height (effect only if "cc-image" contain class "bg-image"!).
                    * Use class "owl-size-full" to set carousel full height size for desktop (effect only if "cc-image" contain class "bg-image"!).
                    * Use class "owl-size-full-m" to set carousel full height size for small screens (effect only if "cc-image" contain class "bg-image"!).
                    ===========================================================================
                    * Available carousel data attributes:
                            data-items="4".......................(items visible on desktop)
                            data-tablet-landscape="4"............(items visible on mobiles)
                            data-tablet-portrait="3".............(items visible on mobiles)
                            data-mobile-landscape="2"............(items visible on tablets)
                            data-mobile-portrait="1".............(items visible on tablets)
                            data-loop="true".....................(true/false)
                            data-margin="10".....................(space between items)
                            data-start-position="0"..............(item start position)
                            data-animate-in="fadeIn".............(more animations: http://daneden.github.io/animate.css/)
                            data-animate-out="fadeOut"...........(more animations: http://daneden.github.io/animate.css/)
                            data-mouse-drag="false"..............(true/false)
                            data-touch-drag="false"..............(true/false)
                            data-autoheight="true"...............(true/false)
                            data-autoplay="true".................(true/false)
                            data-autoplay-timeout="5000".........(milliseconds)
                            data-autoplay-hover-pause="true".....(true/false)
                            data-autoplay-speed="800"............(milliseconds)
                            data-drag-end-speed="800"............(milliseconds)
                            data-nav="true"......................(true/false)
                            data-nav-speed="800".................(milliseconds)
                            data-dots="false"....................(true/false)
                            data-dots-speed="800"................(milliseconds)
                    -->
                    <div class="owl-carousel cursor-grab dots-rounded" data-items="1" data-loop="true" data-autoplay="true" data-autoplay-timeout="8000" data-autoplay-hover-pause="true" data-autoplay-speed="600" data-dots="true" data-dots-speed="600">

                        <!-- Begin carousel item
                        ========================= -->
                        <div class="cc-item">

                            <blockquote>
                                <p>"La maggior parte dei registi fanno i film con i loro occhi. Io faccio film con i miei testicoli."</p>
                                <footer class="blockquote-footer"><cite title="Source Title">Alejandro Jodorowsky</cite></footer>
                            </blockquote>

                        </div>
                        <!-- End carousel item -->

                        <!-- Begin carousel item
                        ========================= -->
                        <div class="cc-item">

                            <blockquote>
                                <p>"Il cinema è un’esplosione del mio amore per la realtà."</p>
                                <footer class="blockquote-footer"><cite title="Source Title">Pier Paolo Pasolini</cite></footer>
                            </blockquote>

                        </div>
                        <!-- End carousel item -->

                        <!-- Begin carousel item
                        ========================= -->
                        <div class="cc-item">

                            <blockquote>
                                <p>"    Il cinema è l’unica forma d’arte nella quale le opere si muovono e lo spettatore rimane immobile."</p>
                                <footer class="blockquote-footer"><cite title="Source Title">Ennio Flaiano</cite></footer>
                            </blockquote>

                        </div>
                        <!-- End carousel item -->

                        <!-- Begin carousel item
                        ========================= -->
                        <div class="cc-item">

                            <blockquote>
                                <p>"la durata di un film dovrebbe essere direttamente commisurata alla capacità di resistenza della vescica umana."</p>
                                <footer class="blockquote-footer"><cite title="Source Title">Alfred Joseph Hitchcock</cite></footer>
                            </blockquote>

                        </div>
                        <!-- End carousel item -->

                    </div>
                    <!-- End content carousel -->

                </div>
                <!-- End testimonial slider -->

            </div> <!-- /.container -->
        </section>

        <section class="video-demo-section split-box no-padding">
            <div class="container-fluid">
                <div class="row bg-light-gray">
                    <div class="col-left col-xl-6 no-padding">
                        <div class="col-inner no-padding">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe data-cookieconsent="statistics" class="dp--iframe" width="560" height="315" src="https://www.youtube-nocookie.com/embed/gyI5144ruKk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-right col-xl-6 align-self-center no-padding">
                        <div class="col-inner">
                            <div class="heading heading-xlg">
                                <h2 class="heading-title text-dark">Teatro <span class="bg-main text-white">Rossi</span> Aperto</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.home.aboutus')}">
            <section class="faq-section">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-12">
                            <div class="col-inner">
                                <f:cObject typoscriptObjectPath="lib.content.home.aboutus" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </f:if>

        <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.partner')}">
            <f:render partial="Home/Partner" section="Default" arguments="{_all}" />
        </f:if>

        <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.patrocini')}">
            <f:render partial="Home/Patrocini" section="Default" arguments="{_all}" />
        </f:if>

        <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.sponsor')}">
            <f:render partial="Home/Sponsor" section="Default" arguments="{_all}" />
        </f:if>

        <!-- contatti FARE Form-->
        <section class="contact-section padding-top-120 padding-bottom-120 bg-dark text-white bg-image" style="background-image: url(img/map-bg.jpg);">

            <!-- Element cover -->
            <div class="cover cover-opacity-9"></div>

            <div class="container">
                <div class="row">

                    <div class="col-left col-lg-6">
                        <div class="col-inner">
                            <div class="heading heading-xlg margin-bottom-50">
                                <h2 class="heading-title"><f:cObject typoscriptObjectPath="lib.titles.home.contattaci" /></h2>
                            </div>
                            <div class="contact-info margin-bottom-50">
                                <p><span class="ci-icon"><i class="fas fa-home"></i></span> Studio legale Orsitto, via Oberdan 129, 56127 Pisa. Italia</p>
                                <p><span class="ci-icon"><i class="fas fa-envelope"></i></span> trameindipendenti@gmail.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-right col-lg-6">
                        <div class="col-inner text-right">
                            <h5><f:cObject typoscriptObjectPath="lib.titles.home.seguici" /></h5>
                            <f:if condition="{settings.social.facebook}!=''">
                                <a href="{settings.social.facebook}" class="btn btn-social-min btn-light btn-rounded-5x btn-lg" target="_blank" title="Follow on Facebook">
                                    <span class="btn-social-icon"><i class="fab fa-facebook"></i></span>
                                </a>
                            </f:if>
                            <f:if condition="{settings.social.instagram}!=''">
                                <a href="{settings.social.instagram}" class="btn btn-social-min btn-light btn-rounded-5x btn-lg" target="_blank" title="Follow on Instagram">
                                    <span class="btn-social-icon"><i class="fab fa-instagram"></i></span>
                                </a>
                            </f:if>

                            <f:cObject typoscriptObjectPath="lib.content.home.contacts" />

                        </div>
                    </div>

                </div>
            </div>
        </section>


    </div>

</f:section>
</html>


