<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Clean" />
<f:section name="Main">
    <article class="blog-grid-item">

        <a class="bgi-image-wrap">
            <div class="bgi-image">
                <img src="/fileadmin{files.0.originalFile.identifier}">
            </div>
        </a>
        <div class="bgi-info">
            <div class="bgi-categories-wrap">
                <a href="#" class="bgi-category">{data.subheader}</a>
            </div>
            <h2 class="bgi-title">
                <a href="#">{data.header}</a>
            </h2>
            <div class="bgi-meta">
                <span class="published"><f:format.date format="Y">{data.date}</f:format.date></span> - <span class="posted-by">{data.header_layout}</span>
            </div>
        </div>

    </article>

</f:section>
</html>
