<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Clean" />
<f:section name="Main">

    <div class="partner-item">
        <f:for each="{files}" as="image">
            <f:link.typolink parameter="{data.header_link}" title="{image.title}">
                <f:media class="cc-client-logo owl-lazy" file="{image}" alt="{image.alternative}" title="{image.title}" />
            </f:link.typolink>
        </f:for>
    </div>

</f:section>
</html>
