<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Slide" />
<f:section name="Main">
    <div class="cc-item">
        <div class="intro-slide-item">
            <div class="intro-image-wrap">
                <div class="intro-image cover-opacity-4 parallax-5 cc-image bg-image" style="background-image: url('/fileadmin/{files.0.originalFile.identifier}'); background-position: 50% 50%;"></div>
            </div>
            <div class="intro-caption text-white parallax-3">
                <h1 class="intro-caption-title">
                    <span class="bg-main text-white">{data.header}</span> <span class="bg-white text-red">{data.subheader}</span>
                </h1>
                <div class="intro-caption-subtitle margin-bottom-40"><f:format.html>{data.bodytext}</f:format.html></div>
                <a href="https://filmfreeway.com/TRAmeIndipendenti" target="_blank"><img src="fileadmin/immagini/button-filmfreeway.jpg" style="margin: 0;"></a>
            </div>
        </div>
    </div>
</f:section>
</html>
