<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Default">
    <section class="portfolio-section no-padding-bottom">
        <div class="container-fluid no-padding">
            <div class="portfolio-grid pgi-counter pgi-hover-color">
                <div class="tt-grid ttg-layout-3">
                    <div class="tt-grid-items-wrap isotope-items-wrap">
                        <div class="isotope-grid-sizer"></div>
                        <div class="tt-grid-item pgh-width isotope-item">
                            <div class="ttg-item-inner">

                                <!-- Begin portfolio grid item
                                ===============================
                                * Use class "pgi-height-1" or "pgi-height-2" to enable item fixed height.
                                -->
                                <div class="portfolio-grid-item pgi-height-1">
                                    <div class="pgi-inner">

                                        <!-- Begin portfolio grid heading
                                        ================================== -->
                                        <div>
                                            <div class="pgh-inner pgi-image"> <!-- Class "pgi-image" is for proper height -->
                                                <div class="pgh-content">
                                                    <h2 class="pgh-title text-dark">Albo <span class="bg-main text-white">d'oro</span></h2>
                                                </div> <!-- /.pgh-content -->
                                            </div> <!-- /.pgh-inner -->
                                        </div>
                                        <!-- End portfolio grid heading -->

                                    </div> <!-- /.pgi-inner -->
                                </div>
                                <!-- End portfolio grid item -->

                            </div>
                        </div>
                        <f:cObject typoscriptObjectPath="lib.albodoro" />
                        <div class="tt-grid-item pgh-width isotope-item">
                            <div class="ttg-item-inner">
                                <div class="portfolio-grid-item pgi-height-1">
                                    <div class="pgi-inner">
                                        <div class="portfolio-grid-heading">
                                            <div class="pgh-inner pgi-image">
                                                <div class="pgh-content">
                                                    <h2 class="pgh-title"><span class="bg-main text-white">Albo</span> d'oro</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</f:section>

