<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Default">

    <nav id="cd-lateral-nav">
        <div class="nav-inner">

            <div class="menu-header">Menu</div>

            <f:cObject typoscriptObjectPath="lib.mainNavigation" />

            <!-- Begin social icons
            ======================== -->
            <div class="social-icons">
                <a href="https://www.facebook.com/trameindipendenti" target="_blank" title="Seguici su Facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.youtube.com/channel/UC_RGo7G8rzssetZD6Fo0FTA" target="_blank" title="Canale Youtube"><i class="fab fa-youtube-square"></i></a>
            </div>
            <!-- End social icons -->

        </div> <!-- /.nav-inner -->
    </nav>

</f:section>