<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Default">

    <header id="tt-header" class="is-fixed">

        <!-- Logo -->

        <f:link.typolink parameter="{baseUrl}" additionalAttributes="{id:'cd-logo'}"><f:cObject typoscriptObjectPath="lib.logo" /></f:link.typolink>

        <!-- Begin header links (optional) -->
        <!-- <nav id="cd-top-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav> -->
        <!-- Begin header links -->

        <!-- Menu trigger (menu button) -->
        <a id="cd-menu-trigger" href="#0"><span class="cd-menu-icon"></span></a>

    </header>

</f:section>