<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Default">

    <div class="intro-slider">
        <div class="owl-carousel owl-size-full owl-size-full-m cc-hover-zoom cursor-grab dots-right nav-minimal nav-light nav-hover" data-items="1" data-loop="true" data-autoplay="true" data-autoplay-timeout="8000" data-autoplay-hover-pause="true" data-autoplay-speed="600" data-dots-speed="600" data-nav="true" data-nav-speed="600" data-drag-end-speed="600" data-animate-in="fadeIn" data-animate-out="fadeOut">
            <f:cObject typoscriptObjectPath="lib.content.home.slideshow" />
        </div>
    </div>
    <div class="scroll-down-arrow text-center parallax-3">
        <a href="#page-content" class="page-scroll text-white"><span><i class="fas fa-arrow-down"></i></span></a>
    </div>

</f:section>

