<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Default">
    <div class="langMenu">
        <a class="hamburger" href="#cd-language-nav" aria-label="Open language menu">
            <span class="sr-only">Open language menu</span>
            <i class="fas fa-globe-europe" aria-hidden="true"></i>
        </a>
        <nav id="cd-language-nav">
            <ul id="language_menu" class="language-menu">
                <li>
                    <a href="#">
                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </li>
                <f:for each="{languagenavigation}" as="item" iteration="iterator">
                    <li class="{f:if(condition: item.active, then: 'active')}{f:if(condition: item.available, else: 'inactive')}">
                        <f:if condition="{item.available}">
                            <f:then>
                                <a href="{item.link}" hreflang="{item.hreflang}" title="{item.title}">
                                    <img src="/typo3conf/ext/trameindipendenti/Resources/Public/Icons/{item.flag}.svg" width="30" alt="{item.navigationTitle}">
                                </a>
                            </f:then>
                            <f:else>
                                <a><img src="/typo3conf/ext/trameindipendenti/Resources/Public/Icons/{item.flag}.svg" width="30" alt="{item.navigationTitle}"></a>
                            </f:else>
                        </f:if>
                    </li>
                </f:for>
            </ul>
        </nav>
    </div>
</f:section>