<f:be.container >

      <div class="module">

         <div class="module-loading-indicator"></div>
         <div class="module-docheader t3js-module-docheader" style="height: auto;">
            <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation row" style="height: auto;">
               <div class="module-docheader-bar-column-left col-xs-12 text-right" style="margin-top:12px;">
               </div>
            </div>
         </div>
         <div class="module-body t3js-module-body" style="padding-top: 89px;">
            <h1>Configurazione Sito Web</h1>
            <div id="sass-index" class="bootstrap-itatoolkit-sass" style="padding: 20px; background-color: rgba(255,255,255,0.5);">
               <f:render section="content" />
            </div>
         </div>
      </div>
</f:be.container>
